:root {
  --md-primary-fg-color:        #4B91F7;
  --md-primary-fg-color--light: #4B91F7;
  --md-primary-fg-color--dark:  #4B91F7;
  --md-footer-fg-color:         #4B91F7;
  --md-footer-bg-color:         #4B91F7;
  --md-footer-bg-color--dark:   #4B91F7;
}
